<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet"  href="{{url_for('static',filename='bootstrap.min.css')}}">
		<link rel="stylesheet"  href="{{url_for('static',filename='styles.css')}}">
	</head>
    <body>
		<div class="container">
				<header class="head">
					<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<h2>Restaurants </h2>
							</div>
							
						    <div class="col-md-6 col-sm-6 col-xs-6">
								<a class="btn btn-success" href="{{url_for('disconnect')}}">Logout</a>
							</div>
					   </div>
			  </header>	
			<section  class="editmenu">
				<form action="{{url_for('editMenu',restaurant_id=restaurant_id,menu_id=item.id)}}" method='POST'>
					<div class="form-group col-sm-8">
					 	<label>Name :</label>
						<input type="text" name="name" class="form-control" placeholder="{{item.name}}">
					</div>
					<div class="form-group col-sm-8">
						<label>Description:</label>
						<input type="text"   name="description" class="form-control"  placeholder="{{item.description}}">
					</div>
					<div class="form-group col-sm-8">
						<label>Price</label>
						<input type="text" name="price" class="form-control" placeholder="{{item.price}}">
					</div>
					<div class="form-group col-sm-12">
					<h3>course</h3>
					<input type="radio"  class="form-check-input" name="course" value="Entree" checked> Entree<br>
					<input type="radio" name="course" value="Apptizer"> Apptizer<br>
					<input type="radio" name="course" value="Dessert"> Dessert<br>
					<input type="radio" name="course" value="Beverage"> Beverage<br>
					</div>	
					<br>
					<div class="form-group col-sm-1">
					<button type="submit" class="btn btn-default">Edit</button>
					</div>
				</form>
				<div class="form-group col-sm-1">
					<a class= "btn btn-default" role="button" href="{{url_for('showMenu', restaurant_id= item.restaurant_id)}}">Cancel</a>
				</div>
			</section>
		</div>
	 	
		
		<script src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   </body>
</html>