<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet"  href="{{url_for('static',filename='bootstrap.min.css')}}">
		<link rel="stylesheet"  href="{{url_for('static',filename='styles.css')}}">
	</head>
    <body>
		<div class="container">
				<header class="head">
					<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<h2>Restaurants </h2>
							</div>
							
						    <div class="col-md-6 col-sm-6 col-xs-6">
								<a class="btn btn-success" href="{{url_for('disconnect')}}">Logout</a>
							</div>
					   </div>
			  </header>	
			<section class="newmenu">
				<h1>new Menu Item</h1>
				<form action="{{url_for('newMenu', restaurant_id=restaurant_id )}}" method='POST'>
					<div class="form-group col-sm-8">
						<label>Name :</label>
						<input type="text" name="name" class="form-control">
					</div>
					<div class="form-group col-sm-8">
						<label>Description :</label>
						<input type="text"   name="description" class="form-control">
					</div>
					<div class="form-group col-sm-8">
						<label>Price :</label>
						<input type="text" name="price" class="form-control">
					</div>
					<div class="form-group col-sm-12">
						<h4>course :</h4>
						<input type="radio"  class="form-check-input" name="course" value="Entree" checked> Entree<br>
						<input type="radio" name="course" value="Apptizer"> Apptizer<br>
						<input type="radio" name="course" value="Dessert"> Dessert<br>
						<input type="radio" name="course" value="Beverage"> Beverage<br>
					</div>	
					<br>
					<div class="form-group col-sm-1">
						<button type="submit" class="btn btn-default">Create</button>
					</div>
				</form>
			</section>	
		</div>
	 	<script src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   </body>
</html>