<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet"  href="{{url_for('static',filename='bootstrap.min.css')}}">
		<link rel="stylesheet"  href="{{url_for('static',filename='styles.css')}}">
	</head>
    <body>
		<div class="container">
				<header class="head">
					<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<h2>Restaurants </h2>
							</div>
							
						    <div class="col-md-6 col-sm-6 col-xs-6">
								<a class="btn btn-success" href="{{url_for('showLogin')}}">Login</a>
							</div>
					   </div>
			</header>		

			<section class="menupart2">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<h3>restaurant {{restaurant.name}}</h3>
			{% for i in items %}
						<article>
							<p><span>Name: </span>{{i.name}}</p>
							<p><span>Description: </span>{{i.description}}</p>
							<p><span>Price: </span> {{i.price}} </p>
							<p><span>Course: </span> {{i.course}} </p>	
						</article>
			{% endfor %}
					</div>
				</div>
		   </section>
	   </div>
		<script src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
   </body>
</html>