<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet"  href="{{url_for('static',filename='bootstrap.min.css')}}">
		<link rel="stylesheet"  href="{{url_for('static',filename='styles.css')}}">
	</head>
	<body>
		<div class="container">
				<header class="head">
					<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<h2>Restaurants </h2>
							</div>
							
						    <div class="col-md-6 col-sm-6 col-xs-6">
								<a class="btn btn-success" href="{{url_for('disconnect')}}">Logout</a>
							</div>
					   </div>
			  </header>	
			<section class="partres1">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						 <div class="flash">
								{% with messages = get_flashed_messages() %}
							{% if messages  %}
								<ul>
									{% for message in messages %}
									<li> <strong>{{message}}</strong></li>
									{% endfor %}
								</ul>
							{% endif %}

						{% endwith %}
						</div>
						<a  class="btn btn-success" role="button"href="{{url_for('newRestaurant')}}">Create Restaurant</a>
					</div>
				</div>
			</section>	
					{% for i in restaurants %}	
						<section class="partres2">
							<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
									
									<p>{{i.name}}<p>
									
									<a class="btn btn-primary" href="{{url_for('showMenu',restaurant_id=i.id)}}">Show Menu</a>
					{% if user_id == i.user_id%}
									<ul>
										
										<li><a class="btn btn-default"class="btn btn-primary"href="{{url_for('editRestaurant',restaurant_id=i.id)}}">Edit</a></li>
										<li><a  class="btn btn-default" href ="{{url_for('deleteRestaurant',restaurant_id=i.id)}}">Delete</a></li>
									</ul>
					{% endif %}	
								</div>
							</div>
						</section>
				{% endfor %}
					</div>
					

		
		
		<script src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
	</body>
</html>